<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-navbar" style="z-index:10">
            <router-link :to="{ name: 'dashboard' }" class="navbar-brand">{{ 'Welcome, ' + name }}</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="form-inline ml-4 my-2 my-lg-0 ml-auto">
                <button @click="logout" class="btn btn-login my-2 my-sm-0">LOGOUT</button>
            </form>
        </nav>
        <br><br><br>
        <div class="text-center">
            <h1>This is your Dashboard</h1>
        </div>
    </div>
</template>

<script>
    export default {
        props:['name'],
        methods:{
            async logout(){
                await axios.get('/api/user/logout').then(response=>{
                    if(response.data.message == 'success')
                    {
                        console.log('hei')
                        localStorage.removeItem('storedData')
                        this.$router.push({name:"login"})
                    }
                }).catch(error => {
                    console.log(error)
                });
            }
        }
    }
</script>