<template>
    <div>
        <navbar/>
        <div class="container-fluid" style="margin-top:50px">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            Ini adalah halaman contact.
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from "../components/Navigation.vue"
    export default {
    components: { Navbar },
        name: 'contact'
    }
</script>