<template>
    <navbar :name="name"/>
</template>

<script>

    import Carousel from '../components/Carousel.vue'
    import Navbar from "../components/user/Navigation.vue"

    export default {
        components: { 
            Carousel, Navbar 
        },
        name: 'dashboard',
        data(){
            return{
                name:""
            }
        },
        mounted() {

            if (localStorage.storedData) {
                this.name = localStorage.getItem('storedData');
            }
        },
        beforeCreate() {
            if (!localStorage.storedData) {
                this.$router.push({name:"login"})
            }
        }
    }
</script>
