<template>
    <div>
        <navbar/>
        <carousel/>
        <div class="container">
            <div class="text-center mt-4 mb-4">
                <h1>Environment</h1>
            </div>
            <div class="row justify-content-center mt-4 mb-4">
                <div class="ml-2 mr-2 col-12 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-photo/entrepreneurs-discussing-work-results-meeting_1163-5277.jpg?t=st=1649642002~exp=1649642602~hmac=90163f36332288b7e07a37d743c102d48ab3f8bb943c01ce5abcae45015bda09&w=360" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="ml-2 mr-2 col-12 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-photo/happy-female-freelancer-working-computer-while-listening-music-headphones-office_637285-1951.jpg?t=st=1649642002~exp=1649642602~hmac=a803f8e561f3f92e324cfe251ba90c574f3a9f70fd2c62eaa2dd6640d5b610de&w=360" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="ml-2 mr-2 col-12 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-photo/young-serious-business-colleagues-standing-near-desk-with-papers-while-thoughtfully-discussing-work-together-modern-office_574295-5153.jpg?t=st=1649642002~exp=1649642602~hmac=673a796cc3b479dd90e77072eb680c62767392fc99a17ff419a8efab5c6eba2b&w=360" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4 mb-4">
                <h1>Benefit</h1>
            </div>
            <div class="row justify-content-center mt-4 mb-4">
                <div class="col-12 col-md-3 mx-auto">
                    <div class="card" >
                        <img src="https://img.freepik.com/free-photo/volunteers-with-food-donation-boxes-laptop_23-2148732721.jpg?t=st=1649642513~exp=1649643113~hmac=e0ea842bf4004117db21e5b62c9f51a91754884e38131d74997b2bf4561c16fd&w=740" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/wooden-growth-blocks-with-banknotes_23-2148780595.jpg?t=st=1649642513~exp=1649643113~hmac=99bafd41f2ed881862440eb768a972272aa1b07430260d3121719f608b541975&w=740" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/content-coworkers-applauding-while-posing-office_23-2147668860.jpg?t=st=1649642513~exp=1649643113~hmac=6a95f17681bbd6197cd9aa5ec5a4c8b3ca68b045ae9ebe88c36f02c73eaca1c9&w=740" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/female-volunteer-with-gloves-holding-food-donation-box_23-2148733762.jpg?t=st=1649642513~exp=1649643113~hmac=9a358ba7b31332a70b9ad4870be386de99a772991983597fa0981958897b937f&w=740" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <footer>
                <div class="text-center">
                    BEST TECH
                    <br>
                <hr>
                <br>
                <h2>
                    This is Footer
                </h2>
                <br>
                </div>
                <br>
                <hr>
                <div class="text-center">
                    <p>Copyright &copy; BEST TECH 2022</p>
                </div>
            </footer>
    </div>
</template>

<script>
    import Carousel from '../components/Carousel.vue'
    import Navbar from "../components/Navigation.vue"

    export default {
    components: { Carousel, Navbar },
        name: 'home'
    }
</script>