<template>
  <div style="background-color: #003f7e">
    <div
      class="container"
      style="min-height: 100vh; padding: 15vh 0px; background-color: #003f7e"
    >
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 login-card">
          <div class="text-center">
            <h2>Login</h2>
          </div>
          <div v-if="errors" class="mt-4 pt-3 mb-4 text-center card bg-danger text-white">
            <div v-for="(v, k) in errors" :key="k">
                <p v-for="error in v" :key="error" class="text-sm">
                {{ error }}
                </p>
            </div>
            </div>
          <form @submit.prevent="login">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                v-model="user.email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                v-model="user.password"
              />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-auth">Login</button>
            </div>
            <div class="text-center mt-4">
              <router-link :to="{ name: 'register' }">
                <p style="color: white">Belum punya akun? Daftar disini!</p>
              </router-link>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "user-login",
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
      errors: "",
    };
  },
  methods: {
    async login() {
      await axios
        .post("/api/user/login", this.user)
        .then((response) => {
          if (response.data.message == "success") {
            localStorage.setItem("storedData", response.data.user.name);
            this.$router.push({ name: "dashboard" });
          } else if (response.data.message == "failed") {
            this.errors = response.data.error;
          }
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
        });
    },
  },
  beforeCreate() {
    if (localStorage.storedData) {
      this.$router.push({ name: "dashboard" });
    }
  },
};
</script>