<template>
    <div style="background-color: #003f7e">
        <div class="container" style="min-height:100vh;padding:5vh 0px;background-color: #003f7e">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 login-card">
                    <div class="text-center">
                        <h2>Register</h2>
                    </div>
                    <form @submit.prevent="create">
                        <div class="form-group">
                            <label for="name">Nama</label>
                            <input @keyup="check" @change="isActiveName = true" type="name" class="form-control" id="name" v-model="user.name" placeholder="Your Full Name">
                            <div class="error" v-if="errors.name && isActiveName">
                                {{ errors.name[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Alamat Email</label>
                            <input @keyup="check" @change="isActiveEmail = true" type="email" class="form-control" id="email" v-model="user.email" placeholder="example@example.com">
                            <div class="error" v-if="errors.email && isActiveEmail">
                                {{ errors.email[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input @keyup="check" @change="isActivePassword = true" type="password" class="form-control" id="password" v-model="user.password">
                            <div class="error" v-if="errors.password && isActivePassword">
                                {{ errors.password[0] }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password_confirmation">Password Confirmation</label>
                            <input @keyup="check" type="password" class="form-control" id="password_confirmation" v-model="user.password_confirmation">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-auth">Register</button>
                        </div>
                    </form>
                    <div class="text-center mt-4">
                        <router-link :to="{ name: 'login' }">
                            <p style="color:white">Sudah punya akun? Login disini!</p>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name:"add-user",
        data(){
            return {
                user:{
                    name:"",
                    email:"",
                    password:""
                },
                errors:{
                    name:{},
                    email:{},
                    password:{}
                },
                isActiveName : false,
                isActivePassword : false,
                isActiveEmail : false,
            }
        },
        methods:{
            async create(){
                await axios.post('/api/user/create',this.user).then(response=>{
                    console.log(response)
                    if(response.data.message == 'success')
                    {
                        this.$router.push({name:"success", params:{email:this.user.email}})
                    }
                }).catch(error=>{
                    this.errors.name = error.response.data.errors.name;
                    this.errors.email = error.response.data.errors.email;
                    this.errors.password = error.response.data.errors.password;
                    this.isActiveName = true;
                    this.isActiveEmail = true;
                    this.isActivePassword = true;
                });
            },
            async check(){
                await axios.post('/api/user/check',this.user).then(response=>{
                }).catch(error=>{
                    if(this.isActiveName){
                        this.errors.name = error.response.data.errors.name;
                    }
                    if(this.isActiveEmail){
                        this.errors.email = error.response.data.errors.email;
                    }
                    if(this.isActivePassword){
                        this.errors.password = error.response.data.errors.password;
                    }
                });
            }
        },
        beforeCreate() {
            if (localStorage.storedData) {
                this.$router.push({name:"dashboard"})
            }
        }
    }
</script>