<template>
    <div class="text-center mt-4 pd-4">
        <h2>Your account has been created successfully !</h2>
        <h4>Please verify your email first at <b>{{email}}</b></h4>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                email:""
            }
        },
        created() {
            this.email = this.$route.params.email;
            console.log(this.$route.params);
        }
    }
</script>
