body
{
    background-color: #fff;
}
.my-navbar
{
    min-height: 80px !important;
    background-color: #003f7e !important;
}

.btn-login
{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    min-width: 6rem;
}

.btn-login:hover
{
    background-color: #7ed321;
    animation: 1s linear;
    color: #fff;
    border-color: #61a31a;
}

.login-card
{
    background-color: #003f7e;
    border: 2px solid #7ed321;
    color: white;
    padding: 50px 10px;
    border-radius: 20px;
}

.btn-auth
{
    background-color: #7ed321;
    border-radius: 5px;
    color: #000;
    width: 6rem;
}

.btn-auth:hover
{
    background-color: #61a31a;
    transition: 1s linear;
}

.error
{
    color: #eeea09;
}

footer
{
    background-color: #003f7e;
    color: #fff;
    padding: 30px 0px;
    margin-top: 30px;
}
