<template>
    <div style="margin-top:-80px">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="https://img.freepik.com/free-photo/aerial-view-business-team_53876-124515.jpg?w=900&t=st=1649349033~exp=1649349633~hmac=39de83593f978638a3a8a5f18fc682f3842970930bd2c7f5dec2551cb91137fe" class="d-block w-100" alt="#" style="height:500px">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Ini Judul 1</h1>
                    <p>Ini adalah deskripsi singkat yang menjelaskan sedikit tentang Judul 1.</p>
                </div>
                </div>
                <div class="carousel-item">
                <img src="https://img.freepik.com/free-photo/business-people-casual-meeting_53876-101882.jpg?t=st=1649339328~exp=1649339928~hmac=3ef206a5f8d919c9437a54f1977bcd7972b7bc207a4324752e35583c0a1658cf&w=900" class="d-block w-100" alt="#" style="height:500px">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Ini Judul 2</h1>
                    <p>Ini adalah deskripsi singkat yang menjelaskan sedikit tentang Judul 2.</p>
                </div>
                </div>
                <div class="carousel-item">
                <img src="https://img.freepik.com/free-photo/asian-businessmen-businesswomen-meeting-brainstorming-ideas-about-creative-web-design-planning-application-developing-template-layout-mobile-phone-project-working-together-small-office_7861-2682.jpg?t=st=1649349024~exp=1649349624~hmac=70bbcf2a89ceade0726e999c96c407ff55b899b51d4a7db91b27bc7bf5863aee&w=900" class="d-block w-100" alt="#" style="height:500px">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Ini Judul 3</h1>
                    <p>Ini adalah deskripsi singkat yang menjelaskan sedikit tentang Judul 3.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {


    }
</script>
